body {
    font-size: 20px;
}

.title {
    font-size: 30px;
}

#searchBox {
    height: 20%;
}



.form-check {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100px;
    width: 100%;
}

.form-check-label {
    padding-right: 2%;
    width: 10%;
}

.form-check img {
    display: inline-block;
    height: inherit;
    width: auto;
}




.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}